html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background:linear-gradient(90deg, #48c6ef 0%,#6f86d6 100% );
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  column-gap: 80px;
}

#player, #computer {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
}

h1 {
  text-align: center;
}

#player-choices, #computer-choices {
  display: flex;
}
#computer-choices div {
  opacity: 0.2;
}
#computer-choices div.active {
  opacity: 1;
}

#player-choices div, #computer-choices div {
  display: flex;
  justify-content: center;
}
svg {
  fill: rgba(255, 255, 255, 0.356);
}

svg.active {
  fill: rgb(255, 255, 255);
}

img {
  width: 60%;
}
#player-choices img:hover {
  cursor: pointer;
}

#message {
  width: 50%;
  margin: auto;
  font-size: 20px;
}